<div class="header">
  <p id="notice"><%= notice %></p>
  <h1>Repositories</h1>
  <div class="actions">
    <%= link_to 'Add Repository from GitHub', new_repository_path, class: "button" %>
  </div>
  <p>The repositories ready to receive pylint data.</p>
</div>

<div class="repositories">
<% @repositories.each do |repo| %>
  <div class="repository">
    <div class="info">
      <h2><%= link_to repo.api_info.full_name, repo %></h2>
      <% if repo.api_info.parent %>
      <span class="forked">Forked from <%= link_to repo.parent.full_name, repo.parent.html_url %></span>
      <% end %>
      <p><%= repo.api_info.description %></p>
    </div>
    <% if repo.branches.present? %>
      <% repo.branches.each do |branch| %>
      <div class="branch">
        <div class="info">
          <h3><%= branch %></h3>
        </div>
        <div class="modules">
          <% repo.modules_in(branch).each do |mod| %>
          <div class="module">
            <%= image_tag "/badge/github/#{repo.owner}/#{repo.name}/#{branch}/#{mod}.svg"%>
            <span class="name"><%= mod %></span>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    <% else %>
      <p>You haven't submitted any ratings for this repository yet.</p>
    <% end %>
  </div>
<% end %>  
</div>


