<h1>Register a GitHub repository</h1>

<div class="github repositories">
    <ul>
    <% @github_repositories.each do |repo| %>
    <li>
      <div class="info">
        <h2><a href="<%= repo.html_url %>"><%= repo.full_name %></a></h2>
        <% if repo.parent %>
        <span class="forked">Forked from <%= link_to repo.parent.full_name, repo.parent.html_url %></span>
        <% end %>
        <p><%= repo.description %></p>
      </div>
      <div class="actions">
        <% if repo.pylint_link %>
        <%= link_to "View", repo.pylint_link, class: "button" %> 
        <% else %>
          <%= form_with(model: @repository, local: true) do |form| %>
            <%= form.hidden_field :service %>
            <%= form.hidden_field :owner, value: repo.owner.login %>
            <%= form.hidden_field :name, value: repo.name %>
            <%= form.submit "Register", class: "button" %>
          <% end %>
        <% end %>
      </div>
    </li>
    <% end %>      
  </ul>
</div>

