<div class="header">
  <p id="notice"><%= notice %></p>
  <h1><%= @repository.api_info.full_name %></h1>
  <% if @repository.api_info.parent %>
  <p class="forked">Forked from <%= link_to repo.parent.full_name, repo.parent.html_url %></p>
  <% end %>
  <p><%= @repository.api_info.description %></p>
</div>

<div class="repository">
<% if @repository.branches.present? %>
  <% @repository.branches.each do |branch| %>
  <div class="branch">
    <div class="info">
      <h2><%= branch %></h2>
    </div>
    <div class="modules">
      <% @repository.modules_in(branch).each do |mod| %>
      <div class="module">
        <%= image_tag "/badge/github/#{@repository.owner}/#{@repository.name}/#{branch}/#{mod}.svg"%>
        <h3><%= mod %></h3>
        <table>
          <% @repository.ratings.where(branch: branch, module: mod).order('created_at desc').limit(10).each do |rating| %>
          <tr>
            <td><%= rating.rating %></td>
            <td><%= rating.created_at %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
<% else %>
  <p>You haven't submitted any ratings for this repository yet.</p>
<% end %>
</div>


<%#= link_to 'Back', repositories_path %>
<%#= link_to 'Show', repository %>
<%#= link_to 'Edit', edit_repository_path(repository) %>
<%#= link_to 'Destroy', repository, method: :delete, data: { confirm: 'Are you sure?' } %>